{% extends 'base.html' %}

{% block content %}
	{% block css %}
		
	{% endblock %}

	{% block title %}
		
	{% endblock %}
	
	
	<div class="gallery">
		{% for res in data %}
			<div class="content">
				<img class="row__produto row__produtoLarge" src="static/{{res['img']}}" alt="produto">
				
				<h3>HeadPhone</h3>
				<p> teste dos componentes que irão apresentar o produto</p>
				<h6>$100.00</h6>
				<ul>
					<li class="fa fa-star checked"></li>
					<li class="fa fa-star checked"></li>
					<li class="fa fa-star checked"></li>
					<li class="fa fa-star checked"></li>
					
				</ul>
				
				<a href="##" id="buy-1" class="btn btn-danger">Colocar no Carrinho</a>
				
			</div>
		{% endfor %}
	</div>
	<img class="foto_perfil" src="{{url_for('static', filename='img/logo.png')}}" alt="foto do perfil">
	
	
{% endblock %}