<!DOCTYPE html>
<html lang="pt-br">
<head>


	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
    <title>Login Form</title>
    
	<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}" >
</head>
<body>
    <main class="container">
        <h2>Login    Ico.Com</h2>
        <form action="/login"  method="post" id="login_form" class="form_class">
			{{ form.csrf_token }}
            <div class="input-field">
                
				{{ form.username(class="form-control", placeholder="Enter Your Username") }}
            <div class="underline"></div>
			
            </div>
            <div class="input-field">
                {{ form.password(class="form-control", placeholder="Password") }}
             <div class="underline"></div>
            </div>

            <input class="submit_class" type="submit" form="login_form" onclick="validarLogin()">
        </form>

        <div class="footer">
            <span>Or Connect With Social Media</span>
            <div class="social-fields">
                <div class="social-field twitter">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                        Sign in with Twitter
                    </a>
                </div>
                <div class="social-field facebook">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                        Sign in with Facebook
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>