*{
	
	padding:0;
	margin:0;
}


#menu{
	width:15px;
	
	position:absolute;
	top:20px;
	z-index:2;
	left:1300px;
	cursor:pointer;
}
	
	
#menu:hover{
	background-color: lightgray;
}


div{
	width:100px;
	height:100px;
	display: inline-block;
}
button{
	border-radius:5px; 
	border:0;
	padding:5px;

	
	
}

select{
	border-radius:10px; 
	border:0;
	padding:8px;

	
	
}


.add{
	width:100px;
	height:20px;
	position:fixed;
	
	
}
#add1{
	
	left:130px;
	top:310px;
}
#add2{
	
	left:325px;
	top:360px;
}
#add3{
	
	left:530px;
	top:310px;
}
#add4{
	
	left:726px;
	top:360px;
}
#add5{
	
	left:930px;
	top:310px;
}
#add6{
	
	left:1130px;
	top:360px;
}



#div1{
	
	width:100px;
	height:50px;
	position:absolute;
	left:1188px;
	top:10px;
	
}
#logcarrinho{

	position:absolute;
	left:-600px;
	top:0px;
	color:black;
	z-index:0;
	
}


nav{
	
	background-color: rgba(128, 128, 128,.9);
	width:250px;
	height:100%;
	position:absolute;
	z-index:1;
	left:-350px;
	transition: all 1s;
	top:0;
	border-radius:10px; 
	border:0;
	
}

input[type="checkbox"]:checked ~ nav
{
	transform: translateX(1466px);
	
}

#log{
	
	
	width:50px;
	height:50px;
	position:absolute;
	left:1115px;
	top:10px;
}
#logo{
	border-radius:30px;
	
	width:250px;
	height:50px;
	position:fixed;
	left:100px;
	top:10px;
	background-image:linear-gradient(to top, lightgray, lightskyblue);
	text-align:center;
}

#classusados{
	
	width:110px;
	height:55px;
	position:fixed;
	left:1030px;
	top:10px;
}

#slct-categoria{
	
	width:100px;
	height:50px;
	position:absolute;
	left:900px;
	top:10px;
}

#vitrine{
	
	width:150px;
	height:200px;
	position:absolute;
	left:100px;
	top:150px;
	background-image:linear-gradient(to top, lightgray, lightgray);
	text-align:center;
	
	border-radius:3px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#vitrine1{
	
	width:150px;
	height:200px;
	position:absolute;
	left:300px;
	top:200px;
	background-image:linear-gradient(to top, lightgray, lightgray);
	text-align:center;
	border-radius:3px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#vitrine2{
	
	width:150px;
	height:200px;
	position:absolute;
	left:500px;
	top:150px;
	background-image:linear-gradient(to top, lightgray, lightgray);
	text-align:center;
	border-radius:3px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}


#vitrine3{
	
	width:150px;
	height:200px;
	position:absolute;
	left:700px;
	top:200px;
	background-image:linear-gradient(to top, lightgray, lightgray);
	text-align:center;
	border-radius:3px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}


#vitrine4{
	
	width:150px;
	height:200px;
	position:absolute;
	left:900px;
	top:150px;
	background-image:linear-gradient(to top, lightgray, lightgray);
	text-align:center;
	border-radius:3px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}


#vitrine5{
	
	width:150px;
	height:200px;
	position:absolute;
	left:1100px;
	top:200px;
	background-image:linear-gradient(to top, lightgray, lightgray);
	text-align:center;
	border-radius:3px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}


#info{
	
	width:250px;
	height:40px;
	position:absolute;
	left:100px;
	top:500px;
	text-align:center;
	
	border-radius:8px;
}
#imgface{
	position:absolute;
	left:760px;
	top:5px;
	
}

#imginsta{
	position:absolute;
	left:810px;
	top:5px;
	
}
#boneco{
	width:50px;
	position:absolute;
	left:680px;
	top:420px;
	z-index:1;
	border-radius:8px;
}
img{
	border-radius:8px;
}



#info2{
	
	width:250px;
	height:40px;
	position:absolute;
	left:380px;
	top:500px;
	text-align:center;
	
	border-radius:8px;
}

a{
	text-decoration:none;
	color:black;
	
	display:block;
	padding:10px;
	color:white;
	
}
body{
	font-family:arial;
	background-color: rgb(240, 255, 240);
	 background: linear-gradient(45deg, #8e2de2, rgb(240, 255, 240));
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover{
	
	background-color: rgb(176, 244, 230);
	color:black;
}

ul{
	list-style:none;
	
	position:relative;
	top:50px;
	
	
}


input[type="checkbox"]
{

	display:none;
}


#d1{
	
	left:100px;
	top:370px;
	text-align: left;
	padding: 5px;
}

#d2{
	
	left:300px;
	top:130px;
	text-align: left;
	padding: 5px;
}

#d3{
	
	left:500px;
	top:370px;
	text-align: left;
	padding: 5px;
	
}

#d4{
	
	left:700px;
	top:130px;
	text-align: left;
	padding: 5px;
}
#d5{
	
	left:900px;
	top:370px;
	text-align: left;
	padding: 5px;
}

#d6{
	
	left:1100px;
	top:130px;
	text-align: left;
	padding: 5px;
}

.descricao{
	
	width:150px;
	height:60px;
	position:absolute;
	
	background-image:linear-gradient(to top, lightgray, lightskyblue);
	text-align:center;
	font-size:12px;
	border-radius:8px;
}


#pesquisa{
	
	width:400px;
	height:50px;
	position:absolute;
	left:400px;
	top:12px;
	
	text-align:center;
	
	font-size:15;
	
	
}

#nome_employee{
	
	
	position:absolute;
	left:160px;
	top:5px;
	height:30px;
	
	
}


#painelcentral{
	
	
	width:1365px;
	height:370px;
	position:absolute;
	left:0px;
	top:100px;
	background-color: rgba(245, 245, 220,1);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
	
}


#search{
	position:absolute;
	top:3px;
	left:38px;
}

#rolagen{
	position:absolute;
	top:485px;
	left:650px;
	width:700px;
	height:120px;
	
	border-radius:3px;
	background-color: rgb(176, 244, 230);
	
	
	
}