


body {
	margin:0;
	padding:0;
	font-family: sans-serif;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
	background: lightgray;
}
    
.navbar {
	

	width: 100%;
	
	z-index:1;
	background-color: lightgray;
	box-shadow:0 14px 28px rgba(0,0,0,0.2);
	position:fixed;
	
}
  



.foto_perfil{
	
	width:40px;
	height:40px;
	border: 50px;
	margin-left:1050px;
	z-index:1;
	border-radius: 100px;
	margin-top:0px;
	position:fixed;
}

.left span{
	color: #51b3ec;
}

.sidebar{
	position:fixed;
	width: 250px;
	height:100%;
	margin-top:40px;
	padding-top: 30px;
	left: 0;
	background-color: lightgray;
	box-shadow:0 14px 28px rgba(0,0,0,0.5);
	border-right-radius: 30px;
}

.sidebar .imagee{
	width: 100px;
	height:100px;
	border-radius: 100px;
}

.sidebar h2{
	color: #ccc;
	margin-top:0;
	margin-bottom:20pxpx;
	
}

.sidebar a{
	color: #fff;
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left:40px;
	box-sizing:border-box;
	border-radius: 100px;
	
	
}
.sidebar a:hover{
	background:#51b3ec;
}

label #sidebar_btn{
	z-index:1;
	position:fixed;
	width:100px;
	left:-25px;
	top:100px;
	color:black;
	font-size:25;
	margin:5px 0;
	cursor: pointer;
	transition: 0.5s;
	transition-property:color;
}

label #sidebar_btn:hover{
	color: #51b3ec;
}
#check:checked ~ #sidebar_btn{
	
	transform: translateX(100px);
}

#check:checked ~ .sidebar{
	
	transform: translateX(-190px);
	border-radius: 50px;
}


#check:checked ~ .sidebar a span{
	display:none;
}


#check:checked ~ .sidebar a{
	font-size: 20px;
	margin-left:170px;
	width:80px;
}

#check{
	display:none;
	
}


.form_pesquisa{
	
	width:200px;
	height:200px;
	position:fixed;
	margin-left:1100px;
	margin-top:120px;
	
	
}