@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body{
	
	margin:0;
	padding:0;
	font-family: sans-serif;
	
}




.form{
	display:none;
	
}







h3{
	text-align: center;
	font-size: 30px;
	margin:0;
	padding-top:10px;
}

a{
	text-decoration:none;
}

.gallery{
	display:flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items:center;
	margin:50px 0;
	top: 20px;
	padding:250px:
}

.content{
	
	margin:15px;
	box-sizing: border-box;
	width: 200px;
	float: left;
	text-align:center;
	border-radius:20px;
	cursor:pointer;
	padding-top:20px;
	box-shadow:0 14px 28px rgba(0,0,0,0.5)
	transition: 10s;
	background:#f2f2f2;
}

.content:hover{
	box-shadow:0 14px 28px rgba(0,0,0,0.8), 0 10px 10px rgba(0,0,0,0.3);
	transform: translate(0px, -8px);
}

img{
	width:120px;
	height:120px;
	text-align: center;
	margin:0 auto;
	display:block;
	
}

p{
	text-align: center;
	color: #b2bec3;
	padding-top:0 8px;
}

h6{
	font-size: 26px;
	text-align:center;
	color: #222f3e;
	margin:0;
}

ul{
	list-style:none;
	display: flex;
	justify-content: center;
	align-items:center;
	padding-top:0;
	
}

li{
	padding-top:5px;
	  
}

.fa{
	font-size:26px;
	transition: .4s;
	margin:3px;
	
}

.checked{
	color: #ff9f43;
}

.fa:hover{
	
	transform:scale(1.3);
}
button{
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0;
	outline: none;
	cursor:pointer;
	margin-top: 5px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	
}

#buy-1{
	background-color: #218382;
	width: 100%;
	border:none;
	border-radius:0;
}

@media(max-width:1000px){
	.content{
		width:45px;
		
	}
}
@media(max-width:50px){
	.content{
		width:100%;
		
	}
}


.logo_celular{
	
	width:500px;
	height:1000;
	position:absolute;
	z-index:1;
	background:black;
}




#pesquisa_home{
	position:fixed;
	
	top: 115px;
	left: 1060px;
	
	z-index:1;
	width:50px;
	
	
}