<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/styles.css">
		<script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
		<link rel="stylesheet" href="/static/home.css">
		{% block css %}
			
		{% endblock %}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
		<title>
			{% block title %}
			{% endblock %}
			
		</title>

   </head>
	
    <body>
		<input type="checkbox" checked id="check">
        <nav class="navbar navbar-expand-lg ">
			<div class="container-fluid">
				<label for="check">
					<span><ion-icon " width="50"></ion-icon></span>
					<ion-icon  id="sidebar_btn" name="keypad-outline"></ion-icon>
				</label>
				<a class="navbar-brand" href="/">Ico.Com
				<a class="navbar-brand" href="/">Pagina Inicial</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
					
					{% if current_user.has_role('admin') %}
						
						<li class="nav-item">
						  <a class="navbar-brand" href="/admin"> Admin</a>
						</li>
						<li class="nav-item">
						  <a class="navbar-brand" href="{{ url_for('upload_img') }}"> Cadastro de Produto</a>
						</li>
						
						
					{% endif %}
					{% if current_user.is_authenticated %}
						<li class="nav-item">
						  <a class="navbar-brand" href="{{ url_for('security.logout') }}"> Logout</a>
						</li>
					{% else %}
						<li class="nav-item">
						  <a class="navbar-brand" href="{{ url_for('security.login') }}"> Login</a>
						</li>
					{% endif %}
				  </ul>
				  <div class="form">
					  <form  class="d-flex" role="search" method="GET">
						<input class="form-control me-2" type="search" placeholder="Encontre seu produto aqui" name="q">
						<button class="btn btn-outline-success" type="submit">Pesquisar</button>
					  
					  </form>
				  </div>
				 <img class="foto_perfil" src="{{url_for('static', filename='img/logo.png')}}" alt="foto do perfil">
				</div>
			</div>
		</nav>
		
		<div class="sidebar">
			<center>
				<img class="imagee" src="{{url_for('static', filename='img/logo.png')}}" alt="produto">
				{% if current_user.is_authenticated %}
					<h3>Nome</h3>
				{% endif %}
			</center>
			
			<a hqref="#" ><ion-icon name="storefront-outline"></ion-icon><span>Home</span></a>
			<a hqref="#" ><ion-icon name="cart-outline"></ion-icon><span>Carrinho</span></a>
			<a hqref="#" ><ion-icon name="search-outline"></ion-icon><span>Pesquisar</span></a>
			<a hqref="#" ><ion-icon name="construct-outline"></ion-icon><span>Configurações</span></a>
			<a hqref="#" ><ion-icon name="mail-outline"></ion-icon><span>Notificação</span></a>
			<a hqref="#" ><ion-icon name="bulb-outline"></ion-icon><span>Ajuda</span></a>
		</div>
		
		<div class="form_pesquisa">
			<form class="fp" method="GET">
				<input class="form-control me-2" type="search" placeholder="Produto" name="fp">
				<button   class="btn btn-success" id="pesquisa_home" type="submit"><ion-icon name="search-outline"></ion-icon></button>
			</form>
		</div>
		
		
		
		
		<div class="container">
			<div class="row">
				<div class="col-8 mx-auto">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
		
		


    </body>
</html>
