{% extends 'base.html' %}

{% block content %}
	
	<div class="col-md-offset-3 col-md-5" style="margin-top:50px;">
		<form action="{{url_for('upload_img')}}" method="post" enctype="multipart/form-data">

			<h3 class="page-header text-primary text-center">
				<span class="fa fa-image">Upload Prduto</span>
			</h3>
			<div class="form-group">
				<label>Browse Image</label>
				<input type="file" class="form-control" name="upload_image">
			</div>
			<div class="form-group">
				<label>Nome Produto</label>
				<input type="text" class="form-control" name="name">
			</div>
			<div class="form-group">
				<label>CNPJ</label>
				<input type="text" class="form-control" name="cnpj">
			</div>
			<div class="form-group">
				<label>Endereço</label>
				<input type="text" class="form-control" name="endereco">
			</div>
			
			<div class="form-group">
				<input type="submit" class="btn btn-prymary btn-block">
			</div>
		
		</form>
	</div>
	<div class="row">
		<div class="col-md-offset-3 col-md-5">
			{% for res in data %}
				<div class="col-md-4">
					<img src="static/{{res['img']}}" id="myimg" alt="No Image">
					<a href="{{url_for('delete_product',id=res['id'])}}" class="btn btn-danger btn-block del">Delete Product</a>
				</div>
			{% endfor %}
		</div>
	</div>
	
	
	
{% endblock %}